/* Detail Mobile Styles */

@media(max-width:768px) {
  .drawerContainer {
     display:flex;
     flex-direction:column;
     justify-content: flex-start;
  }

  .replyEditor {
    width:100%;
  }

  .replyDrawerOptions {
    margin-top:15px;
    margin-bottom:15px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
  }

}
